Repository ninoseki/mihama: changes, and which lefthook commands are due for each by the changed paths.
All: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade, type-check, eslint, prettier, actionlint

poetry-check:
  run: poetry check

poetry-sort:
  run: poetry sort
  stage_fixed: true

ruff:
  run: poetry run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: poetry run ruff format {staged_files}
  stage_fixed: true

pyupgrade:
  run: poetry run pyupgrade --py311-plus {staged_files}
  stage_fixed: true

type-check:
  run: npm run type-check

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint

chore: remove favicon [skip ci]
  frontend/index.html
  frontend/public/favicon.ico
Due: none

refactor: renew frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AffectedPackage.vue
  frontend/src/components/EcosystemsItem.vue
  frontend/src/components/SearchItem.vue
  frontend/src/components/VersionsItem.vue
  frontend/src/components/VulnItem.vue
  frontend/src/main.ts
Due: type-check, eslint, prettier

refactor: renew frontend (#157)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AffectedPackage.vue
  frontend/src/components/EcosystemsItem.vue
  frontend/src/components/SearchItem.vue
  frontend/src/components/VersionsItem.vue
  frontend/src/components/VulnItem.vue
  frontend/src/main.ts
Due: type-check, eslint, prettier

fix: fix compatible issues, etc.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/SearchItem.vue
  frontend/src/schemas.ts
  mihama/api/v1/endpoints/vulns.py
  mihama/crud/crud_vulnerability.py
  mihama/query.py
  mihama/schemas/__init__.py
  mihama/schemas/osv.py
  mihama/schemas/search.py
  tests/api/v1/endpoints/test_vulns.py
Due: ruff, ruff-format, pyupgrade, type-check, eslint, prettier

fix: fix compatible issues, etc. (#158)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/SearchItem.vue
  frontend/src/schemas.ts
  mihama/api/v1/endpoints/vulns.py
  mihama/crud/crud_vulnerability.py
  mihama/query.py
  mihama/schemas/__init__.py
  mihama/schemas/osv.py
  mihama/schemas/search.py
  tests/api/v1/endpoints/test_vulns.py
Due: ruff, ruff-format, pyupgrade, type-check, eslint, prettier

chore: update deps
  .github/workflows/test.yml
  .pre-commit-config.yaml
  frontend/.prettierrc.cjs
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  mihama/crud/crud_vulnerability.py
  mihama/models.py
  mihama/schemas/api_model.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade

chore: update deps (#159)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  frontend/.prettierrc.cjs
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  mihama/crud/crud_vulnerability.py
  mihama/models.py
  mihama/schemas/api_model.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade

refactor: renew CI
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/test.yml
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  mihama/settings/__init__.py
  mihama/settings/es.py
  mihama/settings/redis.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade

fix: remove test
  .github/workflows/frontend.yml
Due: none

fix: install @types/markdown-it
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: remove sort
  .github/workflows/backend.yml
Due: none

fix: use --unsafe-fixes
  mihama/schemas/osv.py
Due: ruff, ruff-format, pyupgrade

fix: fix typo
  .github/workflows/backend.yml
Due: none

chore: remove double quotes
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

fix: fix actionlint config
  lefthook.yml
Due: none

refactor: renew CI (#160)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/test.yml
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  mihama/schemas/osv.py
  mihama/settings/__init__.py
  mihama/settings/es.py
  mihama/settings/redis.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade

refactor: use contextlib
  mihama/settings/osv.py
  tests/conftest.py
Due: ruff, ruff-format, pyupgrade

refactor: use contextlib (#161)
  mihama/settings/osv.py
  tests/conftest.py
Due: ruff, ruff-format, pyupgrade

fix: adjust actionlint check [skip ci]
  lefthook.yml
Due: none

ci: use npm run lint
  .github/workflows/frontend.yml
Due: none

Update README.md
  README.md
Due: none

chore: update deps
  .lefthookrc
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  mihama/main.py
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade

fix: fix lint issues
  tests/api/v1/endpoints/test_cyclonedx.py
  tests/api/v1/endpoints/test_query.py
  tests/api/v1/endpoints/test_spdx.py
  tests/api/v1/endpoints/test_vulns.py
  tests/conftest.py
  tests/crud/test_crud_index.py
  tests/crud/test_crud_vulnerability.py
  tests/schemas/osv/test_fixed.py
  tests/schemas/osv/test_last_affected.py
  tests/schemas/osv/test_multi_packages_fixed.py
  tests/schemas/osv/test_versions.py
  tests/schemas/test_cyclonedx.py
  tests/schemas/test_spdx.py
  tests/test_query.py
Due: ruff, ruff-format, pyupgrade

fix: ignore mypy warnings
  mihama/crud/crud_vulnerability.py
Due: ruff, ruff-format, pyupgrade

chore: update deps (#162)
  .lefthookrc
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  mihama/crud/crud_vulnerability.py
  mihama/main.py
  poetry.lock
  pyproject.toml
  tests/api/v1/endpoints/test_cyclonedx.py
  tests/api/v1/endpoints/test_query.py
  tests/api/v1/endpoints/test_spdx.py
  tests/api/v1/endpoints/test_vulns.py
  tests/conftest.py
  tests/crud/test_crud_index.py
  tests/crud/test_crud_vulnerability.py
  tests/schemas/osv/test_fixed.py
  tests/schemas/osv/test_last_affected.py
  tests/schemas/osv/test_multi_packages_fixed.py
  tests/schemas/osv/test_versions.py
  tests/schemas/test_cyclonedx.py
  tests/schemas/test_spdx.py
  tests/test_query.py
Due: poetry-check, poetry-sort, ruff, ruff-format, pyupgrade

Path conditions:
  poetry-check: any of: pyproject.toml
  poetry-sort: any of: pyproject.toml
  ruff: any of: *.py
  ruff-format: any of: *.py
  pyupgrade: any of: *.py
  type-check: any of: *.{js,ts,vue} and ^frontend/
  eslint: any of: *.{js,ts,vue} and ^frontend/
  prettier: any of: *.{js,ts,vue} and ^frontend/
  actionlint: any of: .github/workflows/*.yaml
